.App {
  text-align: center;
}

@media(max-width: 700px){
  .user-logo-image1{
      display: none;
  }

}

@media(min-width:700px){
  .logo{
  /* width: 80%; */
  /* align-self: center; */
  /* margin: auto;  */
  /* margin-top: 50px; */
  }

  .sub-container{
    width: 80%;
    align-self: center;
    margin: auto; 
  }

  hr{
    width: 80%;
    align-self: center;
    margin: auto;
    color: #848484;
  }

  .topbar{
    width: 80%;
    align-self: center;
    margin: auto;
  }

  

}



body{
  font-family: sans-serif;
}

#icon{
  color: #c1c2c1;
  padding: 5px;
  font-size: 30px;
}


.topbar_parent{
  background-image: linear-gradient(to right,#c2e6d2, #e2e7a4);
  text-align: right;
  color: #f2f2f2;
  text-align: right;
  padding: 12px 14px;
  /* margin:100px; */
  font-size: 17px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  box-shadow: 1px 1px 18px #888888;
  z-index: 1;
}

.signup{
padding: 10px;
padding-left: 12px;
padding-right: 12px;
width:65px;
background-color: #0088cc;
color: white;
border: none;

}

.login{
  padding: 10px;
  padding-left: 12px;
  padding-right: 12px;
  width:65px;
  background-color: #0088cc;
  color: white;
  /* text-decoration-color: white; */
  border: none;
}

/* .login_link{
  color: white;
} */

.logoimg{
  height:40px;
  float : left;
}

.sub-container{
  display: flex;
  padding: 20px;
  width: 78%;
  margin: auto;
}

.topic-main{
  flex:5;
  
}

.topic-image{
  height: 8px;
  width: 8px;
  margin: 5px;
  margin-top:9px;
}

.topic-image1{
  background-color: green;
}

.topic-image2{
  background-color: #978d8d;
}

.topic-image3{
  background-color: #b33a21;
}

.topic-image4{
background-color: blue;
}

.topic-image5{
  background-color: rgb(0, 0, 0);
}


.main-container{
  margin:10px;
}

.flex-container{
  display: flex;
  flex-direction: row;
}

.topic-down-text{
  color: #848484;
  font-weight: 900;
}

.user-logos{
  flex:2;
  /* display: flex; */
  /* justify-content: flex-start; */
  align-items: flex-start;
}

.user-logo-image{
  height: 30px;
  border-radius: 50%;
  align-self: center;
}

.user-logo-image1{
  height: 30px;
  border-radius: 50%;
  align-self: center;
}

.no1{
  flex:1;
}

.no2{
  flex:1;
}

.no3{
  flex:1;
}

#topicid{
  color: black;
  text-decoration: none;
}

.topic-up{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.link_topic{
  text-decoration: none;
}

hr{
  background-color: #e9e9e9;
  height: 2px;
  border: none;
  margin-top: 2px;
}

.hr_first{
  height: 5px;
  margin-top: 5px;
  width: 80%;
}

.hr_main{
  width: 80%;
}

.newtopic_parent{
  float: right;
}

.categories_parent{
  float: left;
}

.categories{
    /* width: 100px; */
    padding: 10px;
    border-style:solid;
    border-color: #0c8bcd;
    border-radius: 4px;
    /* margin: 5px 0; */
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    box-sizing: border-box;
}

.new_topic_container{
  /* height: 40px;  */
  float: right;

}

.new_topic{
  height: 20px;
  width: 100px;
  padding: 11.5px;
  background-color: #e9e9e9;
  color:#646464;
}

.cat_bar{
  width: 80%;
  margin: auto;
}
